.club-card{
    width: 550px;
    padding: 25px;
    border: 1px solid black;
    border-radius: 15px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, .1);
    transition: all.3s ease-in-out;
}

.club-card:hover{
    transform: scale(1.05);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    background: radial-gradient(circle, rgb(250, 240, 184), rgb(255, 193, 112));
    border: none;
}

.club-card h3{
    font-size: 30px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    color: #643f0f;
}

.club-card h3:hover{
    color: #3d0000;
    border-bottom: 1px solid brown;
}

.club-card p{
    font-size: 17px;
    text-align: center;
    color: #000000;
}
