@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.login,
.signup,
.addform {
    width: 100%;
    height: 100vh;
    background-image: url('../assets/loginn.png');
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.form-container {
    width: 100%;
    max-width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.starter {
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: rgb(253, 204, 185);
    border-radius: 50px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    margin: 20px;
}

.starter h1,
.starter h2,
.starter h3,
.starter p,
.starter h5 {
    text-align: center;
    color: wheat;
    margin-bottom: 20px;
}

.starter h1 {
    font-size: 2.5rem;
}

.starter h2 {
    font-size: 2rem;
}

.starter h3 {
    font-size: 1.5rem;
}

.starter p {
    font-size: 1rem;
    color: #ffe6c5;
}

.starter h5 {
    font-size: 1rem;
    color: #ffffff;
}

.starter h5 span {
    font-size: 1.5rem;
    color: rgb(173, 173, 255);
}

.btn-back {
    margin-top: 20px;
    height: 60px;
    background: transparent;
    padding: 10px;
    font-size: 1.5rem;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.btn-back:hover {
    transform: scale(1.09);
    border: none;
}

.btn-back Link {
    color: rgb(168, 105, 11);
    font-size: 1.5rem;
    font-weight: 600;
}

.fa-arrow-left-long {
    font-size: 1.5rem;
    color: rgb(153, 94, 7);
    margin-right: 10px;
}

.starter .form-group {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 20px 0;
}

.form-group input {
    width: 100%;
    height: 100%;
    color: #ffe6c5;
    outline: none;
    background: transparent;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 1rem;
    padding-left: 20px;
}

.form-group input::placeholder {
    color: rgb(255, 153, 94);
    font-size: 1rem;
    opacity: 0.4;
}

.form-group i {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1rem;
}

.remfo {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    margin-top: -25px;
}

.check input {
    margin-right: 5px;
}

.btnn {
    margin-top: 20px;
    padding-top: 10px;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    width: 100%;
    max-width: 350px;
    transition: all .3s ease-in-out;
    background: radial-gradient(circle at center, #462a02, #2b1901, #0d0804);
}

.btnn:hover {
    border: none;
    font-size: 1rem;
    font-weight: 600;
    transform: scale(1.09);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.login-btn {
    background: transparent;
    text-align: center;
    color: wheat;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
    border: none;
    outline: none;
}

.login-btn button {
    margin-top: 10px;
}

.add-btn {
    text-align: center;
    color: wheat;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.add-btn button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    color: wheat;
}

.signup .btnn {
    margin-left: 0;
}

.addform .btnn {
    margin-right: 0;
}

.addform .starter {
    margin-top: 20px;
}

input[type="date"]::-webkit-datetime-edit-fields-wrapper {
    color: rgb(255, 153, 94);
    font-size: 1rem;
    padding-left: 10px;
    opacity: 0.4;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    width: 20px;
    height: 20px;
    padding: 10px;
    font-size: 1.5rem;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.modal-content {
    padding: 20px;
    background-color: #663d21;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    max-width: 400px;
}

.modal-content h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 20px;
    color: rgb(252, 228, 183);
}

.modal-content button,
.modal-content .logout {
    width: 100%;
    max-width: 200px;
    font-size: 1rem;
    padding: 10px;
    border: none;
    border-radius: 10px;
    transition: all .3s ease-in-out;
    background: radial-gradient(circle at center, #462a02, #2b1901, #0d0804);
    color: rgb(252, 228, 183);
    cursor: pointer;
    text-align: center;
    margin: 10px auto;
}

.modal-content button:hover,
.modal-content .logout:hover {
    transform: scale(1.09);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-bottom: 2px solid orangered;
}

.modal-content .logout a {
    color: rgb(252, 228, 183);
}

.modal-content .centered-text {
    text-align: center;
    font-size: 1rem;
    color: rgb(252, 228, 183);
}

@media (max-width: 768px) {
    .starter h1 {
        font-size: 2rem;
    }

    .starter h2 {
        font-size: 1.5rem;
    }

    .starter h3 {
        font-size: 1.2rem;
    }

    .starter p {
        font-size: 0.8rem;
    }

    .btn-back {
        font-size: 1rem;
    }

    .fa-arrow-left-long {
        font-size: 1rem;
    }

    .form-group input {
        font-size: 0.8rem;
    }

    .form-group input::placeholder {
        font-size: 0.8rem;
    }

    .btnn {
        font-size: 0.8rem;
        width: 100%;
    }
}

@media (max-width: 480px) {
    .starter h1 {
        font-size: 1.5rem;
    }

    .starter h2 {
        font-size: 1.2rem;
    }

    .starter h3 {
        font-size: 1rem;
    }

    .starter p {
        font-size: 0.7rem;
    }

    .btn-back {
        font-size: 0.8rem;
    }

    .fa-arrow-left-long {
        font-size: 0.8rem;
    }

    .form-group input {
        font-size: 0.7rem;
    }

    .form-group input::placeholder {
        font-size: 0.7rem;
    }

    .btnn {
        font-size: 0.7rem;
        width: 100%;
    }
}

