@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}

.login{
    width: 100%;
    height: 100vh;
    background-image: url('../assets/loginn.png');
    background-size: cover;
    display: flex;
    flex-direction: row;
    padding: 20px; 
}

.form-container{
    width: 700px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    margin-right: 20px; 
}

.starter {
    margin-top: 45px;
    margin-left: 200px;
    height: 850px;
    background: transparent;
    border: 2px solid black;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
    color: rgb(253, 204, 185);
    border-radius: 50px;
    padding: 10px;
  }

.starter h1 {
    text-align: center;
    color: wheat;
    font-size: 50px;
    font-family: 'Dancing Script', cursive;
    margin-bottom: 30px;
}

.starter h2{
    text-align: center;
    font-size: 55px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
}

.starter h3{
    text-align: center;
    font-size: 26px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: wheat;
}

.starter p{
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 4px;
    color: #ffe6c5;
}

.btn-back{
    margin-top: 400px;
    height: 60px;
    background: transparent;
    padding: 10px;
    margin-right: 10px;
    font-size: 45px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    cursor: pointer;
    transition: all.3s ease-in-out;
}

.btn-back:hover{
    transform: scale(1.09);
    border: none;
}

.btn-back Link{
    color: rgb(168, 105, 11);
    font-size: 40px;
    font-weight: 600;
    margin-right: 10px;
}

.fa-arrow-left-long{
    font-size: 30px;
    color: rgb(153, 94, 7);
    margin-right: 10px;
}
  
  .starter .form-group {
    position: relative;
    width: 100;
    height: 50px;
    margin: 30px 0;
  }
  
  .form-group input {
    width: 100%;
    height: 100%;
    color: #ffe6c5;
    outline: none;
    background: transparent;
    border: 1px solid black;
    border-radius: 50px;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    padding-left: 20px;
    margin-top: 5px;
  }
  
  .form-group input::placeholder {
    color: rgb(255, 153, 94);
    font-size: 20px;
    padding-left: 10px;
    opacity: 0.4;
  }
  
  .form-group i {
      position: absolute;
      right: 20px;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
  }
  
.remfo{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 5px;
    margin-top: -25px;
}

.check input{
    margin-right: 5px;
}

.btnn{
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    width: 350px;
    margin-left: 130px;
    transition: all.3s ease-in-out;
    background: radial-gradient(circle at center, #462a02, #2b1901, #0d0804);
}

.btnn:hover{
    border: none;
    font-size: 20px;
    font-weight: 600;
    transform: scale(1.09);
    box-shadow: 0 0 10px rgba(0, 0, 0, .3);
}

.login-btn{
    text-align: center;
    margin-left: 110px;
    color: wheat;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: all.3s ease-in-out;
}

.starter h5{
    text-align: center;
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    margin-bottom: 30px;
    letter-spacing: 1px;
    color: #ffffff;
}

.starter h5 span{
    border-bottom: 2px solid rgb(173, 173, 255);
    margin-left: 10px;
    font-size: 23px;
    color: rgb(173, 173, 255);
}
.starter h5 span:hover{
    color: rgb(137, 255, 249);
    border-bottom: 2px solid rgb(168, 252, 241);
    cursor: pointer;
}

